# Py cache files
__pycache__/

# DB files
*.sqlite

# everything in the temporary and image folder
img/
tmp/
user*/
tests/test_dbs

# any profiler output
profile_out.txt
profile.txt
profile.log
*.prof
